.shinobi {
    transition-duration: 5s;
    transition-property: opacity;
}
.shinobi>img {
    width: 100%;
}

.hidden {
    display: none;
	opacity: 0;
}

.pupille {
    transition-duration: 5s;
    transition-property: opacity;
}
.pupille>img {
    width: 100%;
}